<input type="text" [(ngModel)]="searchText" placeholder="Search Tokens">
<div id="token-container">
    <div *ngFor="let token of tokens | search: searchText : 'path'; let i = index;" class="token {{token.tokenType === 'style' ? 'style' : token.tokenType === 'token' ? 'type' : ''}}" attr.data-index="{{i + 1}}">
        <div class="property" *ngIf="token.tokenType"><span>Token Type:</span> {{ token.tokenType }}</div>
        <div class="property" *ngIf="token.name"><span>Name:</span> {{ token.name }}</div>
        <div class="property" *ngIf="token.description"><span>Description:</span> {{ token.description }}</div>
        <div class="property" *ngIf="token.type"><span>Type:</span> {{ token.type }}</div>
        <div class="property" *ngIf="token.type !== 'style' && token.value"><span>Value:</span> {{ token.value }}</div>
        <div class="property" *ngIf="token.type === 'style' && token.value"><span>Value:</span> {{ token.value | json }}</div>
        <div class="property" *ngIf="token.type !== 'style' && token.placeHolderValue"><span>Placeholder Value:</span> {{ token.placeHolderValue }}</div>
        <div class="property" *ngIf="token.type === 'style' && token.placeHolderValue"><span>Placeholder Value:</span> {{ token.placeHolderValue | json }}</div>
        <div class="property" *ngIf="token.path"><span>Path:</span> {{ token.path }}</div>
        <div class="property" *ngIf="token.parent"><span>Parent:</span> {{ token.parent }}</div>
    </div>
</div>